# MongoDB connection string from MongoDB Atlas
MONGODB_URI=mongodb+srv://risan0055:<nizan0055>@faceattendence.vutioko.mongodb.net/

# Cloudinary URL (from cloudinary.com > Settings > API Keys)
CLOUDINARY_URL=cloudinary://<184779285924393>:<635MMzmPbc2MkbP30fOu1VPAIdw>@dkzagjl2y

# Server port
PORT=8000
